<h1>Tasks</h1>
[% IF task_list.size > 0 %]

<table class="table well">
<tr>
<th>TaskID</th>
<th>Title</th>
</tr>
[% FOREACH task = task_list %]
<tr>
<td><a href="/task/[% task.task_id | url %]">[% task.task_id | html %]</a></td>
<td><a href="/task/[% task.task_id | url %]">[% task.title | html %]</a></td>
</tr>
[% END %]
</table>

[% ELSE %]

Not Found

[% END %]
